body {
  padding: 50px;
  font-family: Garamond;
}

.home-page-title {
  padding-top: 50px;
  font-size: 25pt;
  color: #474747;
  text-align: center;
}

.main-image {
  text-align: center;
  padding-top: 20px;
  clear: both;
  display: inline-block;
}

.home-page-image {

}

.graduation-page-image {
  height: 425px;
}

.main-wrap {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.control-panel {
  margin: 0 auto;
  text-align: center;
  width: 30%;
}

.control-button {
  display: inline-block;
  padding: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: lightgray;
  cursor: pointer;
}

.arrow {
  height: 100px;
}

.arrow-wrap {
  display: inline-block;
}

.arrow-wrap:hover {
  cursor: pointer;
}

.arrow-forward {
  float: right;
}

.arrow-back {
  float: left;
}